h1{
    color: red;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: black double underline;
}
h2{
    color: blueviolet;
    text-decoration: black double underline;
    font-family: Georgia;
}
div>form>input{
    color: red;
}
div>form>label{
    color: orangered;
}
p::first-line{
    background-color: aqua;
    color: black;
}
p{
    color: lawngreen;
}
button{
    color: crimson;
    background-color: aquamarine;
}
button:hover{
    background-color: maroon;
    color: black;
}